.imageAnimation {
  transform: perspective(1000px) rotateX(5deg) translateY(50px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.imageAnimation.image-visible {
  transform: perspective(1000px) rotateX(0deg) translateY(0) !important;
  opacity: 1 !important;
} 